.no-match {
    border-radius: 5px;
    background-color: #39C0C0;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.match-div {
    border-radius: 5px;
    background-color: #39C0C0;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.match-name {
    font-weight: bolder;
}

.match-address {
    color: antiquewhite;
}

.match-div p {
    margin-bottom: 2px;
}