
.btn {
    border-radius: 0px;
    border: none;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: bold;
}
.btn-primary {
    background-color: #385cad;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #5276C7;
}

.btn-secondary {
    background-color: #ff3860;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #E61F47;
}

.btn-info {
    color: #000;
    background-color: #ffd040 !important;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
    color: #000;
    background-color: #E6B727;
}